{% extends "base.html.twig" %}

   
        {% block body %}
          
        <div>
           <h1> Salut {{utilisateur.login}}  </h1>
           <p>Appuyer <a href="">ici</a> pour activer votre comptre </p> 
        </div>
        {% endblock %}
    
